[Unit]
Description=Poll GitHub master for tested production deployments

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5s
AccuracySec=1s
RandomizedDelaySec=0
Unit=apitoken-deploy-watchdog.service

[Install]
WantedBy=timers.target
